<div class='pt-5 pb-5 mt-2 text-center md:pb-6'>
  <h1 class='leading-tighter text-3xl font-extrabold tracking-tighter md:text-4xl'>
    <span class='p-2 bg-gradient-to-r from-blue-600 to-green-500 bg-clip-text text-transparent'>
      みんなの宣言!
    </span>
  </h1>
</div>
<div id="login-histories" class="flex flex-col items-center gap-4 px-6">
  <%= render partial: "today_separator_line" %>
  <% @posts.each do |post| %>
    <% if @posts.index(post) > 0 && post.created_at.in_time_zone('Asia/Tokyo').strftime("%m/%d") != @posts[@posts.index(post) - 1].created_at.in_time_zone('Asia/Tokyo').strftime("%m/%d") %>
      <%= render partial: "day_separator_line", locals: { post: post } %>
    <% end %>
    <% if post.option == 0 %>
      <%= render partial: "ganbaru_post", locals: { post: post } %>
    <% else %>
      <%= render partial: "konohende_post", locals: { post: post } %>
    <% end %>
  <% end %>
</div>

<% if user_signed_in? %>
  <div class="fixed bottom-4 right-4">
    <%= render partial: "post_button" %>
  </div>
<% else %>
  <div class="fixed bottom-4 right-4">
    <%= link_to "ログイン", new_user_session_path, class: "relative bg-gradient-to-r from-green-500 to-green-600 text-white w-28 h-20 rounded-full flex items-center justify-center shadow-lg hover:from-green-600 hover:to-green-700 focus:outline-none focus:ring-4 focus:ring-blue-300 transition-all duration-300" %>
  </div>
<% end %>