<p style="color: green"><%= notice %></p>

<div class="pt-5 pb-5 mt-2 text-center md:pb-6">
  <h1 class="text-3xl font-bold text-center text-text my-6 md:text-2xl">
    投稿の詳細
  </h1>
</div>

<div id="login-histories" class="mb-5 flex flex-col items-center gap-6 ">
  <% if @post.option == 0 %>
    <div class="bg-emerald-100 rounded-lg shadow-lg p-5 w-full max-w-sm transition-transform transform block">
      <p class="text-3xl font-medium text-gray-600 mb-2"><%= @post.name %><span class="text-sm"> さん</span></p>
      <p class="text-lg font-medium text-gray-600 mb-3 ml-2">本日も張り切って!</p>
      <small class="text-sm text-gray-500 text-right block"><%= @post.created_at.in_time_zone('Asia/Tokyo').strftime("%Y-%m-%d %H:%M:%S") %></small>
    </div>
  <% else %>
    <div class="bg-blue-100 rounded-lg shadow-lg p-5 w-full max-w-sm transition-transform transform block">
      <p class="text-3xl font-medium text-gray-600 mb-2"><%= @post.name %><span class="text-sm"> さん</span></p>
      <p class="text-lg font-medium text-gray-600 mb-3 ml-2">本日はこの辺で</p>
      <small class="text-sm text-gray-500 text-right block"><%= @post.created_at.in_time_zone('Asia/Tokyo').strftime("%Y-%m-%d %H:%M:%S") %></small>
    </div>
  <% end %>
</div>
<% if @post.user_id == current_user.id %>
  <div class="flex justify-center mt-5">
    <%= button_to "削除", @post, method: :delete, data: { "turbo-confirm": '本当に削除しますか？' }, class: "mb-5 bg-purple-400 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded ml-2" %>
  </div>
<% end %>
<div class="flex justify-center mt-5 text-text mt-5">
  <%= link_to "みんなの宣言一覧へ戻る", posts_path %>
</div>
