<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "本日も！" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="<%= asset_path 'favicon.ico' %>" type="image/ico">
    <link rel="icon" href="<%= asset_path 'favicon.ico' %>" type="image/ico" sizes="48x48">
    <link rel="manifest" href="<%= asset_path 'favicon.ico' %>">
    <link rel="apple-touch-icon" href="<%= asset_path 'favicon.ico' %>">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body class="kosugi-maru-regular flex flex-col min-h-screen bg-background">
    <!-- Navigation Bar -->
    <nav class="bg-background shadow-md">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-16">
          <!-- Logo -->
          <div class="leading-tighter text-2xl font-extrabold tracking-tighter md:text-2xl flex-shrink-0">
            <a href="/" class="bg-gradient-to-r from-blue-600 to-green-500 bg-clip-text text-transparent">
              本日も！
            </a>
          </div>
          <!-- Desktop Menu -->
          <div class="hidden md:flex space-x-8">
            <%= link_to "このアプリって？", about_path,class: "text-text hover:text-text/60 font-medium" %>
            <% if user_signed_in? %>
              <%= link_to "宣言をみる", posts_path, class: "text-text hover:text-text/60 font-medium" %> 
              <%= link_to "マイページ", user_path(current_user), class: "text-blue-600 hover:text-blue-800 font-medium" %>
              <%= link_to "ログアウト" , destroy_user_session_path, data: { turbo_method: :delete }, class: "text-purple-600 hover:text-red-800 font-medium" %>
            <% else %>
              <%= link_to "ログイン", new_user_session_path, class: "text-blue-600 hover:text-blue-800 font-medium" %>
              <%= link_to "アカウント作成", new_user_registration_path, class: "text-blue-600 hover:text-blue-800 font-medium" %>
            <% end %>
            <%= render partial: "/setting_button" %>
          </div>
          <!-- Mobile Menu Toggle Button -->
          <div class="md:hidden flex items-center"> 
            <div class="flex items-center">
              <%= render partial: "/setting_button" %>
            </div>
            <button id="mobile-menu-button" class="text-text ml-4 hover:text-text/50 focus:outline-none">
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <!-- Mobile Menu -->
      <div id="mobile-menu" class="hidden space-y-1 px-4 pt-2 pb-4 bg-background shadow text-xl">
        <%= link_to "このアプリって？", about_path,class: "block text-text hover:text-text/60 font-medium pb-2" %>
        <% if user_signed_in? %>
          <%= link_to "宣言をみる", posts_path, class: "block text-text hover:text-text/60 font-medium pb-2" %> 
          <%= link_to "マイページ", user_path(current_user), class: "block text-blue-600 hover:text-blue-800 font-medium pb-2" %>
          <%= link_to "ログアウト" , destroy_user_session_path, data: { turbo_method: :delete }, class: "block text-purple-600 hover:text-red-800 font-medium pb-2" %>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class: "block text-blue-600 hover:text-blue-800 font-medium pb-2" %>
          <%= link_to "アカウント作成", new_user_registration_path, class: "block text-blue-600 hover:text-blue-800 font-medium pb-2" %>
        <% end %>
      </div>

      <div id="setting" class="hidden setting-button w-full h-full fixed inset-0 flex items-center justify-end px-5 z-20">
        <div class="modal group-focus-within:block">
          <div class="block w-full h-full bg-black/70 absolute top-0 left-0 flex z-20 items-center justify-center">
            <div>
            <div class="text-white mb-2">
              枠外をクリックすると閉じます
            </div>

            <div id="out-setting-button" class="block bg-surface max-w-md w-full p-6 rounded-lg shadow-lg z-30">
              <div class="text-xl font-semibold text-text">設定</div>
              <div class="flex items-center mt-4">
                <div class="text-text-muted text-sm">テーマ切り替え：</div>
                <div class="theme-toggle">
                  <%= render partial: "/darkmode_toggle_button" %>
                </div>
              </div>
              <div class="flex items-center mt-4">
                <div class="text-text-muted text-sm">テーマを時間帯によって切り替える：</div>
                <div class="theme-delete-button text-text">
                  <button class="p-2 rounded-lg bg-background hover:bg-background/50">
                    <svg class="h-5 w-5" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50">
                      <path d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 24.984375 6.9863281 A 1.0001 1.0001 0 0 0 24 8 L 24 22.173828 A 3 3 0 0 0 22 25 A 3 3 0 0 0 22.294922 26.291016 L 16.292969 32.292969 A 1.0001 1.0001 0 1 0 17.707031 33.707031 L 23.708984 27.705078 A 3 3 0 0 0 25 28 A 3 3 0 0 0 28 25 A 3 3 0 0 0 26 22.175781 L 26 8 A 1.0001 1.0001 0 0 0 24.984375 6.9863281 z"></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>

            </div>
          </div>
        </div>
      </div>


    </nav>
    <!-- Flash Messages -->
    <%= render "/flash_bar" %>
    <!-- Main Content -->
    <main class="flex-grow bg-background">
      <%= yield %>
    </main>
  </body>
  <!-- Footer -->
  <footer class="bg-surface text-text-muted py-2 text-center">
    <p>お問い合わせは<%= link_to "こちら", 'https://x.com/Ym_zknA_61a', class: "underline", target: "_blank" %></p>
  </footer>
</html>
