<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "本日も！" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <meta property="og:url" content="https://test-devise.onrender.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="本日も！" />
    <meta property="og:description" content="今日も誰かに頑張る宣言しませんか？" />
    <meta property="og:site_name" content="本日も！" />
    <meta property="og:image" content="/ogp.png" />
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <link rel="icon" href="/favicon.ico" type="image/ico">
    <link rel="icon" href="/android-icon-48x48.png" type="image/png" sizes="48x48">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="kosugi-maru-regular flex flex-col min-h-screen">
    <!-- Navigation Bar -->
    <nav class="bg-background shadow-md">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-16">
          <!-- Logo -->
          <div class="leading-tighter text-2xl font-extrabold tracking-tighter md:text-2xl flex-shrink-0">
            <a href="/" class="bg-gradient-to-r from-blue-600 to-green-500 bg-clip-text text-transparent">
              本日も！
            </a>
          </div>
          <!-- Desktop Menu -->
          <div class="hidden md:flex space-x-8">
            <%= link_to "このアプリって？", about_path,class: "text-text hover:text-text/60 font-medium" %>
            <% if user_signed_in? %>
              <%= link_to "宣言をみる", posts_path, class: "text-text hover:text-text/60 font-medium" %> 
              <%= link_to "ユーザー編集", edit_user_registration_path, class: "text-blue-600 hover:text-blue-800 font-medium" %>
              <%= link_to "ログアウト" , destroy_user_session_path, data: { turbo_method: :delete }, class: "text-purple-600 hover:text-red-800 font-medium" %>
            <% else %>
              <%= link_to "ログイン", new_user_session_path, class: "text-blue-600 hover:text-blue-800 font-medium" %>
              <%= link_to "アカウント作成", new_user_registration_path, class: "text-blue-600 hover:text-blue-800 font-medium" %>
            <% end %>
            <%= render partial: "/darkmode_toggle_button" %>
          </div>
          <!-- Mobile Menu Toggle Button -->
          <div class="md:hidden flex items-center"> 
            <%= render partial: "/darkmode_toggle_button" %>
            <button id="mobile-menu-button" class="text-gray-500 ml-2 hover:text-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-200">
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <!-- Mobile Menu -->
      <div id="mobile-menu" class="md:hidden hidden space-y-1 px-4 pt-2 pb-4 bg-background shadow">
        <%= link_to "このアプリって？", about_path,class: "block text-text hover:text-text/60 font-medium" %>
        <% if user_signed_in? %>
          <%= link_to "宣言をみる", posts_path, class: "block text-gray-600 hover:text-gray-800 font-medium" %> 
          <%= link_to "ログアウト" , destroy_user_session_path, data: { turbo_method: :delete }, class: "block text-purple-600 hover:text-red-800 font-medium" %>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class: "block text-blue-600 hover:text-blue-800 font-medium" %>
          <%= link_to "アカウント作成", new_user_registration_path, class: "block text-blue-600 hover:text-blue-800 font-medium" %>
        <% end %>
      </div>
    </nav>
    <!-- Flash Messages -->
    <% if flash[:notice] %>
      <div class="p-4 text-md text-blue-700 text-center font-bold bg-background">
        <%= notice %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="p-4 text-md text-red-700 text-center font-bold bg-background">
        <%= alert %>
      </div>
    <% end %>

    <!-- Main Content -->
    <main class="flex-grow bg-background">
      <%= yield %>
    </main>
  </body>
  <!-- Footer -->
  <footer class="bg-surface text-text-muted py-2 text-center">
    <p>お問い合わせは<%= link_to "こちら", 'https://x.com/Ym_zknA_61a', class: "underline", target: "_blank" %></p>
  </footer>
</html>
